@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(10deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-duration-10 {
  animation-duration: 10s !important;
}

.animate-duration-14 {
  animation-duration: 14s !important;
}

@keyframes fadeInDrop {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInDrop {
  animation: fadeInDrop 1.2s ease forwards;
}

@keyframes fadeInSlow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeInSlow {
  animation: fadeInSlow 2s ease forwards;
}

.animate-bounceSlow {
  animation: bounceSlow 2.5s infinite;
}
